<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="&#xD;&#xA;         BasePath"
                   value="http://api.pasys.nl/msgcenter/api/MsgJob/PostMsgJob" />
  </appSettings>
    <connectionStrings>
        <add name="Connection"
            connectionString="Data Source=ahdb;Initial Catalog=temperatuur;Persist Security Info=True;User ID=temperatuur;Password=t3mperatuur"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WindowsFormsApp1.Properties.Settings>
            <setting name="TbLocatie" serializeAs="String">
                <value />
            </setting>
            <setting name="DtpVan" serializeAs="String">
                <value />
            </setting>
            <setting name="TbMinimumTemperatuur" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TbMaximumTemperatuur" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CbLocatie" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApp1.Properties.Settings>
    </userSettings>
</configuration>